* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(255, 255, 255);
}

#root {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    color: black;
}

form {
    display: flex;
    padding: 5px;
    border-radius: 10px;
    border: none;
    flex-wrap: wrap;
    align-items: center;
}

h2 {
    margin-right: 10px;
}

h1 {
    color: black;
}

input {
    flex: 1;
    padding: 8px;
    border-radius: 10px;
    border: none;
    background-color: rgb(230, 227, 227);
    color: black;
}

.todo-list {
    margin-top: 10px;
}

.add {
    padding: 12px 15px;
    background-color: rgb(68, 236, 255);
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}

.update {
    padding: 12px 15px;
    background-color: rgb(51, 255, 126);
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}

.cancel {
    padding: 12px 15px;
    background-color: rgb(255, 245, 108);
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}

li {
    margin-top: 10px;
    list-style: none;
    padding: 10px;
    background: rgb(230, 227, 227);
    border-radius: 10px;
}

.edit {
    padding: 12px 15px;
    background-color: rgb(249, 145, 71);
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}

.delete {
    padding: 12px 15px;
    background-color: rgb(241, 59, 50);
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}

.login-logout {
    color: red;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 15px;
    text-decoration: underline;
}

.logout {
    cursor: pointer;
    padding: 12px 15px;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    color: red;
    font-size: 15px;
    text-decoration: underline;
    border-radius: 5px;
    margin-top: 10px;
} 

.darkMode {
    cursor: pointer;
    padding: 5px 10px;
    background-color: rgb(141, 132, 132);
    border: none;
    margin-left: 10px;
    font-size: 15px;
    border-radius: 5px;
    margin: 10px 0pc;
}

.dark {
    background-color: rgb(30, 30, 30);
    color: white;
}

.dark li {
    background-color: rgb(50, 50, 50);
    color: white;
}

.dark input {
    background-color: rgb(70, 70, 70);
    color: white;
}

.dark-body {
    background-color: rgb(30, 30, 30);
}

.dark h1,
.dark p,
.dark h2 {
    color: white;
}

@media (max-width: 600px) {
    form {
        flex-direction: column;
        align-items: stretch;
    }

    input {
        width: 100%;
        margin-bottom: 5px;
    }

    .add, .update, .cancel {
        width: 100%;
        margin-top: 10px;
        display: block;
        margin: 5px auto;
    }

    li {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px; margin-bottom: 15px;
    }

    li div {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

}

